
<div class="navbar-wagon navbar-fixed-top">
      <!-- Logo -->
      <%= link_to 'Mister Cocktail 123', cocktails_path  %>

      <div class="navbar-wagon-right">
        <ul class="list-unstyled list-inline">
        <li><%= link_to 'Add Cocktail', new_cocktail_path, class: 'btn btn-primary btn-nav btn-add' %></li>
        <li><%= link_to 'All Cocktails', cocktails_path, class: 'btn btn-info btn-nav btn-add' %></li>
        </ul>
      </div>
    </div>
