<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
    <img src = <%= asset_path 'logo.png' %> alt="logo">
  </a>


  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="/cocktails/new" class="navbar-wagon-item navbar-wagon-link"><i class="fas fa-plus"></i></a>
  </div>
</div>


